@page
@model Orar.Pages.Profesori.IndexModel

@{
    ViewData["Title"] = "Profesori";
}

<h1>Profesori</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profesor[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor[0].Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor[0].Norma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor[0].Materie.NumeMaterie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profesor[0].ClaseProfesor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProfesorD.Profesori)
        {
            string selectedRow = "";
            if (item.ID == Model.ProfesorID)
            {
                selectedRow = "table-success";
            }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Norma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materie.NumeMaterie)
            </td>
            <td>
                @{
                    foreach (var category in item.ClaseProfesor)
                    {
                        @category.Clasa.ID @: @category.Clasa.NumeClasa <br />
                    }
                }
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
